<h1>Map#map_write</h1>
<p>Find me in app/views/map/map_write.html.erb</p>

    <div>
        <form action = '/map/map_list'>
              <button type="submit" class="btn btn-default">게시판으로 돌아가기</button>
        </form>
    </div>
