<%= render partial: "common" %>

<!-- Page Content -->
<div class="container">
    
    <!-- Page Header -->
  <hr>
    <p>전체 맛집 <%= @map_post.count%></p>
    <a href="map_write">글쓰기</a>
  <hr>  <hr>
  <div>
    <% @map_post.each do |p| %>
      <a href="/map/map_read/<%=p.id%>"><%= p.name %></a>
      <hr>
    <% end %>
  </div>



  <!-- Footer -->
  <footer>
      <div class="row">
          <div class="col-lg-12">
              <p>Copyright &copy; CODIST 2016</p>
          </div>
      </div>
      <!-- /.row -->
  </footer>

</div>
<!-- /.container -->
